@import 'normalize';

html {
  // simplify rem calculations
  // 1rem == 10px
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  // reset base font-size to 16px
  font-size: 1.6em;
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  letter-spacing: -1px;
  text-align: center;
  color: #222;
}
