$checkbox-size: 1.5rem;
$checkbox-spacing: .5rem;
$checkbox-position: $checkbox-size + $checkbox-spacing;

@mixin checkbox-content {
  &::before {
    @content;
  }
}

.checkbox {
  padding-left: $checkbox-position;
}

.checkbox__input {
  display: none;

  & + .checkbox__label {
    @include checkbox-content {
      display: block;
      align-self: center;
      width: $checkbox-size;
      height: $checkbox-size;
      border: .1rem solid $color-gray;
      border-radius: .2rem;
      position: absolute;
      left: -1 * $checkbox-position;

      content: '';
      transition: all 200ms ease;
    }
  }

  &:checked + .checkbox__label {
    @include checkbox-content {
      background-color: $color-blue;
      border-color: $color-dark-blue;
      background-image: url(./tick.svg);
      background-size: 1.1rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.checkbox__label {
  position: relative;
  display: flex;

  font-size: .9em;
  user-select: none;
  -webkit-user-select: none;
}
