$checkbox-size: 1.5rem;
$checkbox-spacing: .5rem;
$checkbox-position: $checkbox-size + $checkbox-spacing;

@mixin checkbox-content {
  &::before {
    @content;
  }
}

.checkbox {
  padding-left: $checkbox-position;
}

.checkbox__input {
  display: none;

  & + .checkbox__label {
    @include checkbox-content {
      display: block;
      align-self: center;
      width: $checkbox-size;
      height: $checkbox-size;
      border: .1rem solid $color-gray;
      border-radius: .2rem;
      position: absolute;
      left: -1 * $checkbox-position;
      content: '';
      transition: all 200ms ease;
    }
  }

  &:checked + .checkbox__label {
    @include checkbox-content {
      background-color: $color-blue;
      border-color: $color-dark-blue;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDE1LjU4MnB4IiBoZWlnaHQ9IjQxNS41ODJweCIgdmlld0JveD0iMCAwIDQxNS41ODIgNDE1LjU4MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDE1LjU4MiA0MTUuNTgyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQxMS40Nyw5Ni40MjZsLTQ2LjMxOS00Ni4zMmMtNS40ODItNS40ODItMTQuMzcxLTUuNDgyLTE5Ljg1MywwTDE1Mi4zNDgsMjQzLjA1OGwtODIuMDY2LTgyLjA2NGMtNS40OC01LjQ4Mi0xNC4zNy01LjQ4Mi0xOS44NTEsMGwtNDYuMzE5LDQ2LjMyYy01LjQ4Miw1LjQ4MS01LjQ4MiwxNC4zNywwLDE5Ljg1MmwxMzguMzExLDEzOC4zMWMyLjc0MSwyLjc0Miw2LjMzNCw0LjExMiw5LjkyNiw0LjExMmMzLjU5MywwLDcuMTg2LTEuMzcsOS45MjYtNC4xMTJMNDExLjQ3LDExNi4yNzdjMi42MzMtMi42MzIsNC4xMTEtNi4yMDMsNC4xMTEtOS45MjVDNDE1LjU4MiwxMDIuNjI4LDQxNC4xMDMsOTkuMDU5LDQxMS40Nyw5Ni40MjZ6Ii8+PC9nPjwvc3ZnPg==);
      background-size: 1.1rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.checkbox__label {
  position: relative;
  display: flex;
  font-size: .9em;
  user-select: none;
  -webkit-user-select: none;
}
