$display-height: 8rem;

.color-display__display {
  height: $display-height;
  border-radius: 4px 4px 0 0;
  border: $light-border;
  border-bottom: 0;
  cursor: pointer;
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // transition:

  &::before, &::after {
    opacity: 0;
    transition: opacity 300ms ease;
    display: block;
    font-weight: bold;
    text-align: center;
  }

  &::before {
    content: 'White';
    color: $color-white;
  }

  &::after {
    content: 'Black';
  }

  &:active {
    transform: scale(3.5);
    border-radius: 0;
    border: 0;
    box-shadow: $box-shadow;

    &::before, &::after {
      opacity: 1;
    }
  }
}

.color-display__chanels {
  display: flex;
}

.color-display__hex {
  display: flex;
  justify-content: space-between;
  padding: .3rem .5rem;
  border: $light-border;
  border-top: 0;
  font-size: .8em;
}

.color-display__hex-name {
  font-weight: bold;
}

.chanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $light-border;

  &:not(:last-of-type) {
    border-right: 0;
  }
}

.chanel__name {
  padding: .3rem 1.3rem;
  border-bottom: $light-border;

  font-weight: bold;
  font-size: .8em;
}

.chanel__value {
  padding: .3rem .5rem;
  font-size: .9em;
}

.clipboard__button {
  display: block;
  width: 100%;
  border-top: 0 !important;
}
