$display-height: 4rem;

.color-display {
  padding: 2rem;
  border: $light-border;
  box-shadow: $box-shadow;
}

.color-display__display {
  height: $display-height;
}

.color-display__chanels {
  display: flex;
}

.color-display__hex {
  display: flex;
  justify-content: space-between;
  padding: .3rem .5rem;
  border: $light-border;
  border-top: 0;
  font-size: .8em;
}

.color-display__hex-name {
  font-weight: bold;
}

.chanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $light-border;

  &:not(:last-of-type) {
    border-right: 0;
  }
}

.chanel__name {
  padding: .3rem 1.3rem;
  border-bottom: $light-border;

  font-weight: bold;
  font-size: .8em;
}

.chanel__value {
  padding: .3rem .5rem;
  font-size: .9em;
}
