{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",

    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "app": "./src",
        "app-ui": "./src/ui"
      }
    }]
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types",
      ]
    }
  }
}
