{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
  },

  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
