{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "consistent-return": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["./test/**/*.jsx", "./test/**/*.js"]}]
  },

  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
