@mixin create-btn($bg, $color) {
  color: $color;
  background-color: $bg;
  border-color: darken($bg, 10%);

  &:hover, &:focus {
    outline: 0;
    background-color: darken($bg, 5%);
  }

  &:active {
    background-color: darken($bg, 10%);
  }
}

.btn {
  font-size: 1.4rem;
  display: inline-block;
  padding: .5rem .75rem;
  border: 1px solid;
  border-radius: .4rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 200ms;

  &__default {
    @include create-btn(#ecf0f1, #222);
  }

  &__success {
    @include create-btn(#27ae60, #fff);
  }

  &__danger {
    @include create-btn(#e74c3c, #fff);
  }
}
