.counter__body {
  padding: 2rem;
  background-color: #f8f8f8;
  border: .1rem solid #f0f0f0;
  border-radius: .4rem;
  text-align: center;

  @media screen and (min-width: 650px) {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}

.counter__heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.counter__display, .counter__controls {
  padding: 1rem;
}

.counter__controls {
  .btn {
    margin-right: 1rem;
  }
}

.counter__count {
  font-size: 3rem;
  font-weight: bold;
}
