.button {
  padding: .75rem 1rem;
  border: .1rem solid;
  line-height: 1;
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: .4rem;
  font-size: .9em;

  &:focus {
    outline: 0;
  }

  &--white {
    background-color: $color-white;
    border-color: $color-light-gray;

    &:hover {
      background-color: $color-white-gray;
    }

    .button__glyph {
      border-right: $light-border;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-green;
    border-color: $color-dark-green;

    &:hover {
      background-color: $color-dark-green;
    }

    .button__glyph {
      border-right: 1px solid $color-dark-green;

      .icon {
        fill: $color-white;
      }
    }
  }

  &--red {
    color: $color-white;
    background-color: $color-red;
    border-color: $color-dark-red;

    &:hover {
      background-color: $color-dark-red;
    }

    .button__glyph {
      border-right: 1px solid $color-dark-red;

      .icon {
        fill: $color-white;
      }
    }
  }
}

.button--with-glyph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.button__glyph {
  padding: .5rem 1rem;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.button__text {
  text-align: center;
  flex: 1;
  padding: .6rem;
}
