$width: 2.5rem;
$burger-height: .3rem;
$burger-gutter: .5rem;
$color: $color-black;

@mixin all-parts {
  &,
  &::before,
  &::after {
    @content;
  }
}

.burger {
  border: 0;
  cursor: pointer;
  padding: 1rem;

  &:focus {
    outline: 0;
  }

  &--active {
    .burger__icon {
      background-color: transparent !important;
      &::before { transform: translateY($burger-height + $burger-gutter) rotate(45deg); }
      &::after { transform: translateY(-($burger-height + $burger-gutter)) rotate(-45deg); }
    }
  }

  &--light {
    background-color: $color-white-gray;

    .burger__icon {
      @include all-parts {
        background-color: $color-dark-gray;
      }
    }
  }

  &--dark {
    background-color: $color-black;

    .burger__icon {
      @include all-parts {
        background-color: $color-white-gray;
      }
    }
  }
}

.burger__icon {
  position: relative;
  display: block;
  margin-top: $burger-height + $burger-gutter;
  margin-bottom: $burger-height + $burger-gutter;
  user-select: none;

  @include all-parts {
    display: block;
    width: $width;
    height: $burger-height;
    background-color: $color;
    outline: .1rem solid transparent;
    transition-property: background-color, transform;
    transition-duration: 200ms;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before { top: -1 * ($burger-height + $burger-gutter); }
  &::after { top: $burger-height + $burger-gutter; }
}
