.color-display-group {
  background-color: $color-white;
  box-shadow: $box-shadow;
  margin-top: 3rem;
  padding: 3rem 4rem;
}

.color-display-group__title {
  margin: 0;
  margin-bottom: 2rem;
}

.color-display-group__displays {
  display: flex;
  justify-content: center;

  .color-display {
    flex: 1;
  }

  &--gradient {
    .color-display {
      border-right: 0;
    }

    .color-display__display {
      &:not(:active) {
        background-color: transparent !important;
      }
    }
  }
}

.color-display-group__controls {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.color-display-group__control {
  &:not(:first-child) {
    margin-left: 2rem;
  }
}
