.color-selection {
  background-color: $color-black;
}

.color-selection__title {
  color: $color-white;
  margin-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.7rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.color-selection__samples {
  padding: 2rem;
  padding-right: 0;
  padding-bottom: 0;
}

.color-selection__sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
}

.color-selection__display {
  width: 8rem;
  height: 5rem;
}

.color-selection__value {
  font-family: $font-family-mono;
  font-size: 1.8rem;
}
