$navbar-spacing: 2rem;

.navbar {
  background-color: $color-white;
  border-bottom: $light-border;
  box-shadow: $box-shadow;
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $navbar-spacing;
}

.navbar__link {
  padding: .5rem 1rem;
  font-size: .9em;
  
  text-decoration: none;
  color: $color-dark-gray;
  transition: background-color 200ms ease;

  &:not(&--active):hover {
    background-color: $color-white-gray;
  }

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &--active {
    background-color: $color-blue;
    color: $color-white;
  }
}
