.navbar {
  background-color: $color-white;
  border-bottom: $light-border;
  box-shadow: $box-shadow;
}

.navbar__inner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar__burger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 3rem;
  padding: 1rem;
}

.navbar__navigation {
  margin-left: auto;
}

.navbar__link {
  padding: .7rem 1.5rem;
  text-decoration: none;
  color: $color-black;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &--active {
    background-color: #1391f4;
    color: $color-white;
  }
}
