$header-breakpoint: 1000px;

@keyframes gradient-background {
  0% { background-position: 0% 72%; }
  50% { background-position: 100% 29%; }
  100% { background-position: 0% 72%; }
}

.index-page {
  background-color: $color-white-gray;
  padding-bottom: 20rem;
}

.header {
  animation: gradient-background 50s ease infinite;
  background-size: 400%;
  padding: 7.5rem 0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .15);
}

.header__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint($header-breakpoint) {
    flex-direction: row;
  }
}

.header__titles {
  text-align: center;
  margin-bottom: 3rem;

  @include color-switch(color);

  @include breakpoint($header-breakpoint) {
    margin-bottom: 0;
    text-align: left;
  }
}

.header__title {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  text-shadow: $box-shadow;
}

.header__subtitle {
  font-size: 1em;
  font-weight: normal;
}
