$color-white: #FFF;
$color-white-gray: #F5F5F5;
$color-light-gray: #D7D7D7;
$color-gray: #AAA;
$color-dark-gray: #444;
$color-black: #222;
$color-true-black: #000;

$color-green: #4CAF50;
$color-dark-green: #43A047;

$color-red: #EB4010;
$color-dark-red: #C8310C;

$color-blue: #119CE5;
$color-dark-blue: #138DCE;

$light-border: .1rem solid $color-white-gray;

$font-face-base: 'source-sans-pro', Helvetica, Arial, sans-serif;
$font-family-mono: 'inconsolata', 'Lucida Console', Monaco, monospace;

$box-shadow: .1rem .2rem .5rem rgba(0, 0, 0, .05), -.1rem -.2rem .5rem rgba(0, 0, 0, .05);
$radius: .3rem;
